<html>
    <head>
        <title>About</title>
    </head>
    <body style="background-image: url(https://www.teahub.io/photos/full/26-263385_light-colour-background-images-hd-light-color-background.jpg);">

        <h1 style="text-align: center;font-family: cursive;">About Us</h1>
       <div style="text-align: center; font-family: cursive;">
           When you have a great story about how your product or service was built to change lives, share it. The "About Us" page is a 
           great place for it to live, too. Good stories humanize your brand, providing context and meaning for your product. What’s more, 
           good stories are sticky -- which means people are more likely to connect with them and pass them on. </div>


    </body>
</html>