<html>
    <head>
     <title>Contact</title>
    </head>
    
    <body style="text-align: center;font-family: cursive;background-image: url(https://www.teahub.io/photos/full/26-263385_light-colour-background-images-hd-light-color-background.jpg);">
        <h1>Contact us</h1><br>
        <div class="col-md-5 contact-right-info">
            <h2>ORLANDO OFFICE</h2>
            <p>123 Open Door Road Suite 1200<br />
              Orlando, FL 30030<br />
              <a>407.555.1961</a>
            </p>
            <h2>EMAIL ADDRESS</h2>
            <label>info@webcorpco.com</label>
            <h2>SUPPORT</h2>
            <a>800.555.1656</a><br />
            <a>support@webcorpco.com</a>
        </div>

    

    </body>
</html>

      