<html>
    <head>
        <title>Details</title>
    </head>
    <body style="font-family: cursive;text-align: center;background-image: url(https://www.teahub.io/photos/full/26-263385_light-colour-background-images-hd-light-color-background.jpg);">
        <h1>Know More About Our Company</h1>
        <pre style="font-size: larger;">
            Nam venenatis ex eget quam tristique, quis imperdiet erat porttitor. Fusce bibendum purus vel urna sagittis, sit amet lacinia
dolor porta. Sed pretium sodales mauris. Donec est elit, eleifend sed ultrices vitae, tincidunt non leo. Praesent volutpat sapien sed sapien 
imperdiet, quis tincidunt nibh iaculis. Aliquam venenatis leo libero, sit amet bibendum odio auctor consectetur. Morbi porttitor posuere 
odio, ac consequat neque semper sit amet. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.

Morbi condimentum convallis massa, eu tincidunt dui lacinia id. Duis eu aliquet leo. Fusce elit odio, interdum in vulputate sit amet, bibendum
ac eros. Nunc id suscipit felis. Cras quam dui, accumsan sit amet molestie dictum, rhoncus sit amet risus. Proin ut sapien nulla. Praesent
in turpis rhoncus, semper lorem quis, tincidunt purus. Proin sit amet tristique nisi. Morbi imperdiet blandit lectus sed eleifend. Curabitur 
interdum ligula in convallis dictum.

Ut maximus sagittis aliquet. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc ut sapien ex.
Etiam vitae pellentesque ipsum. Aenean vestibulum feugiat libero vel ullamcorper. Maecenas metus enim, ultricies ut risus non, rhoncus tincidunt
odio. Donec eget scelerisque eros. Pellentesque in metus eros. Quisque vulputate ipsum eu turpis scelerisque volutpat.
        </pre>
    </body>
</html>