<html>
         <head>
              <title> Home </title>
         </head>

<body style="text-align:center;">
    <h1>Perform Arithmetic Operations</h1>
<form action="add/" method="get">
    <input type="text" name="num1" placeholder="Enter number 1">
    <input type="text" name="num2" placeholder="Enter number 2"><br><br><br>
    <input type="submit" value="Add"> &nbsp
    <input type="submit" value="Subtract" formaction="subtract/"> &nbsp
    <input type="submit" value="Multiply" formaction="multiply/"> &nbsp
    <input type="submit" value="Divide" formaction="divide/"> &nbsp
    <input type="submit" value="Remainder" formaction="mod/">
</form>

</body>
</html>